.curseclient
config/AppliedEnergistics2/items.csv
*.log
/crash-reports
local/ftbutilities/players.txt
local/ftbutilities/ranks.txt
/logs
/mods
/saves
/screenshots
usercache.json
usernamecache.json
config/splash.properties
/journeymap
vintagefix/transformerCache/jarDiscoverer.cache
/vintagefix
minecraftinstance.json
config/splash.properties
config/buildcraft/detailed.properties
config/AppliedEnergistics2/CustomRecipes.cfg
/vintagefix
/cache
options.txt
/local
config/jei/worldSettings.cfg
config/AppliedEnergistics2/VersionChecker.cfg
hei_bookmarks.ini
/config/waila/theme
