.probe/*
!.probe/probe-settings.json
WailaErrorOutput.txt
usernamecache.json
usercache.json
/saves
patchouli_data.json
options.txt
/mods
minecraftinstance.json
/logs
local/kubejs/dev.properties
/crash-reports
/.vscode
/.probe
.curseclient
/config/jei/world
config/blazemap-client.toml
/local/ftbchunks/data
local/ftblibrary-client.snbt
defaultconfigs/ftblibrary/ftblibrary-client.snbt
defaultconfigs/ftbessentials-server.snbt
defaultconfigs/ftbchunks/ftbchunks-world.snbt
defaultconfigs/ftbchunks/client-config.snbt
/backups
config/sodiumdynamiclights-client.toml
config/embeddium-options.json
chiselsandbits/clipboard.dat
/screenshots
