# Configuration file

clipboard {
    I:0 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        2
        108
        118
        0
        0
        0
        0
        8
        0
        1
        98
        0
        22
        116
        102
        99
        37
        51
        65
        103
        114
        97
        118
        101
        108
        37
        50
        70
        103
        97
        98
        98
        114
        111
        63
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        63
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        16
        43
        73
        75
        6
        -78
        -45
        -117
        18
        -53
        82
        115
        84
        -115
        -36
        -46
        19
        -109
        -110
        -118
        -14
        -19
        25
        24
        26
        88
        -2
        15
        97
        -16
        -17
        -1
        40
        -96
        20
        0
        0
        -88
        63
        12
        57
        0
        0
     >
}


