# Configuration file

general {

    permissions {
        # The permission level of the rtp command
        I:rtpperm=4
    }

    ranges {
        # The RTP max range to teleport. In co-ords
        I:rtpMax=10000
    }

    block {
        # The hardness of the RTP Block, -1 is unbreakable
        # Min: -1
        # Max: 10
        I:hardness=3

        # Whether an RTP block can only be used once, if true; the block will destroy itself on use
        B:oneUse=false
    }

}


