# Configuration file

general {
    # List of item registry names (e.g. modid:item_name) that should emit light [default: [minecraft:torch]]
    S:CustomLightItems <
        minecraft:torch
     >

    # Light level for custom items [range: 1 ~ 30, default: 14]
    I:DefaultLightLevel=14

    # Maximum light level for custom items (default: 30) [range: 15 ~ 255, default: 30]
    I:MaxLightLevel=30
}


